<html>

	<head>
		<title>Phòng chat Quikcon</title>
		<meta charset="utf-8">

		<!-- Scripts -->

		<script src="jquery.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="source-control.js"></script>
		<script type='text/javascript' src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
				 integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
     crossorigin="anonymous"></script>
		<script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>

		<!-- CSS -->

		<link rel="stylesheet" href="trangchu.css">
		<link rel="stylesheet" href="trangdangky.css">
		<link rel="stylesheet" href="phongchat.css">
		<!--link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"-->

	  <!-- Thêm font chữ ở dưới đây -->

	  <link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap&subset=vietnamese" rel="stylesheet">

	</head>

	<body>

		<!-- Nền màu tối của trang web, toàn bộ nội dung trang web được bọc trong div này -->

		<div class="full-page-background background-fixed">

			<!-- Phần bên trái màn hình -->

			<div class="interaction-box">

				<!-- Phần dành cho chat -->

				<div class="content-box" id="messageArea">

					<!-- Tên phòng -->

					<div class="content-box-header">
						<h2>Phòng chat số 1</h2>
					</div>

					<!-- Cửa sổ chat -->

					<div class="content-window" id="chatbox">

						<!-- Nền màu trắng của cửa sổ chat -->

						<div class="chatbox-background">

							<!-- Tin nhắn được in ra ở div này -->

							<div class="chat-bubble-wrapper" id="chat"></div>
						</div>
					</div>
				</div>

				<!-- Ô nhập liệu và nút gửi -->

				<form class="input-box" id="messageForm">

					<!-- Ô nhập tin nhắn -->

					<input type="text" id="message" class="typein typein-chatbox typein-chatbox-message" placeholder="Nhập tin nhắn tại đây">

					<!-- Nút gửi -->

					<button class="button chatbox-button green-button">Gửi</button>
				</form>
			</div>

			<!-- Phần bên phải màn hình -->

			<div class="other-box">
				<div class="user-info-box chatroom-members-info" id="users">
				</div>
			</div>

		</div>

		<script>
			//hàm kiểm tra chuỗi rỗng 
			const checkEmptyMessage = (message) => {
				if(message === "")
					return true;
				else
					return false;
			}
			const returnFirstFiveCharactersInMessage = message => {
				return message.substring(0, 5);
			}

			const isMessageAnURL = message => {
				const firstFiveCharacters = returnFirstFiveCharactersInMessage(message);
				const https = "https";

				if(firstFiveCharacters === https)
					return true;
				else
					return false;
			}
			const emitDeleteSocket = (usernameToSend) =>{
				socket.emit("Send username to remove", usernameToSend);
			}

			$(function () {
				var socket = io();
				var $messageForm = $('#messageForm');
				var $message = $('#message');
				var $chat = $('#chat');
				var $messageArea = $('#messageArea');
				var $users = $('#users');
				let username;
				socket.emit('connect', socket.id);
				//gửi đoạn tin nhắn qua id message tại form input
				$messageForm.submit(function (e) {
					e.preventDefault();
					socket.emit('send message', $message.val());
					$message.val('');
				});
				//Nhận username từ server
				// hiển thị dòng chat
				socket.on('new message', function (data) {
					//Lấy tìm chatbox và đo khoảng cách giữa chiều cao cố định của chatbox với chiều cao của content bên trong chatbox
					var out = document.getElementById("chatbox");
					var isScrolledToBottom = out.scrollHeight - out.clientHeight <= out.scrollTop + 1;

					//Tạo bong bóng chat và chuyển tin nhắn vào chatbox
					//Phần hiện tin nhắn chat trong box
					if(checkEmptyMessage(data.msg) === false){
						if(isMessageAnURL(data.msg) === true){
							$chat.append('<div class="chat-as-item"><p class="username-in-chat-item" style="margin-bottom: 3%"> ' + data.user + '</p><a href="' + data.msg + '" class="chat-bubble" > ' + data.msg + ' </a></div>');
						
						}

						else{
							$chat.append('<div class="chat-as-item"><p class="username-in-chat-item">' + data.user + '</p><p class="chat-bubble">' + data.msg + '</p></div>');
						
						}
						
					}
					//Nếu chiều cao content lớn hơn chiều cao cố định, thì cuộn cửa sổ xuống dưới cùng
					if(isScrolledToBottom)
						out.scrollTop = out.scrollHeight - out.clientHeight;
				});

				//sau khi login thì show trang nhắn tin
				// danh sách các id hiển thị qua html 
				socket.on('get users', function (data) {
					var html = '';
					//  chỉnh css cho danh sách các id 
					//theem button kick ng dùng 
					for (i = 0; i < data.length; i++) {
						html += '<div class="member-username-as-item list">' + data[i] + '<button id="button' + i + '" onClick="emitDeleteSocket(\''+ data[i] +'\')"> Kick </button></div>';
					}
					$users.html(html);
				});
				//Alert cho nguoi dung thoat ra
				socket.on("Alert user to exit", (usernameToKick) => {
					alert("Get out!!!!!!!!" + usernameToKick);
				})
			});

		</script>
	</body>

</html>
