<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Trang Đăng Nhập</title>
	<script src="jquery.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="source-control.js"></script>
	<link rel="stylesheet" href="trangchu.css">

	<!-- Thêm font chữ ở dưới đây -->

	<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap&subset=vietnamese" rel="stylesheet">

</head>
<body>
	<div class="full-page-background">
		<main class="main-box">

		<!-- Phần nhập thông tin và đăng nhập -->

		  <form method="GET" action="inbox" >
		    <fieldset id="sign_in" class="sign-in-box">
		      	<legend class="sign-in-header">Quikcon</legend>
			  	
			  	<!-- Ô nhập tên -->

		      	<div class="input-box">
		        	<input  required class="typein typein-hoverable" type="text" name="username"  id="username" placeholder="Nhập tên của bạn vào đây">
		      	</div>

		      <!-- Nút đăng nhập -->

		      	<div class="input-box" style="margin-top: 0.7em; height: 5.7em">
		      		<input id="sign-in-button" class="button button-hoverable" type="submit" value="Tham gia phòng chat">
		    	</div>
		    </fieldset>
		    

	    <!-- Đăng ký, quên mật khẩu và những thứ khác -->

		    <div class="other-box">
		    </div>
		  </form>
		</main>
	</div>
</body>
</html>
