<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Trang Đăng Nhập</title>
	<script src="jquery.js"></script>
	<script src="/socket.io/socket.io.js"></script>
	<script src="source-control.js"></script>
	<link rel="stylesheet" href="trangchu.css">

	<!-- Thêm font chữ ở dưới đây -->

	<link href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Source+Sans+Pro:200,200i,300,300i,400,400i,600,600i,700,700i,900,900i&display=swap&subset=vietnamese" rel="stylesheet">

</head>
<body>
	<div class="full-page-background">
		<main class="main-box">

		<!-- Phần nhập thông tin và đăng nhập -->

		  <form>
		    <fieldset id="sign_in" class="sign-in-box">
		      <legend class="sign-in-header">Quikcon</legend>

		      <!-- Ô nhập email -->

		      <div class="input-box">
		        <input class="typein typein-hoverable" type="email" name="email-address"  id="email-address" placeholder="Email">
		      </div>

		      <!-- Ô nhập mật khẩu -->

		      <div class="input-box">
		        <input class="typein typein-hoverable" type="password" name="password"  id="password" placeholder="Mật khẩu">
		      </div>

		      <!-- Checkbox tự động đăng nhập -->

		      <div class="input-box" style="height: 3em;">
		      	<label class="checkbox-container">
				  <input type="checkbox">Tự động đăng nhập bằng tài khoản này
				  <span class="checkmark"></span>
				</label>
		      </div>

		      <!-- Nút đăng nhập -->

		      <div class="input-box" style="margin-top: 0.7em; height: 5.7em">
		      <input id="sign-in-button" class="button button-hoverable" type="submit" value="Đăng nhập">
		    </div>
		    </fieldset>
		    

	    <!-- Đăng ký, quên mật khẩu và những thứ khác -->

		    <div class="other-box">
		      <a href="trangdangky" class="link-paragraph sign-up">Đăng ký</a>
		      <a href="#0" class="link-paragraph forgot-pwd">Quên mật khẩu?</a>
		    </div>
		  </form>
		</main>
	</div>
</body>
</html>